<%= link_to image_tag("paper.png", class: "paperIcon"), new_path, class: "iconContainer" %>

<div class="latestBanner">
<%= link_to "Latest post was posted " + distance_of_time_in_words(@text.last.created_at, Time.now) + " ago", '/texts/' + @text.last.id.to_s %>
</div>


<div class="container">
  <% @text.each do |t| %>

<div class="textContainer">

      <div class="infoBox">

        <div class="nameBox">
          <h2 class="textName">
            <%= auto_name(t.name.to_s) %>
          </h2>
        </div>

        <div class="timeBox">
          <h4 class="timeText">
            <%= "Posted " + distance_of_time_in_words(t.created_at, Time.now) + " ago" %>
          </h4>
        </div>
        
      </div>

      <div class="chatBox">
        <h2 class="textMessage">
      
        <%= link_to t.text.to_s , ('/texts/' + t.id.to_s) %>
        
        </h2>
      </div>
</div>

  <% end %>
</div>
