
<%= link_to image_tag("paper", class: "paperIcon"), new_path, class: "iconContainer" %>




<div class="container">
  <% @text.each do |t| %>

<div class="textContainer">

      <div class="infoBox">

        <div class="nameBox">
          <h2 class="textName">
            <%= auto_name(t.name.to_s) %>
          </h2>
        </div>

        <div class="timeBox">
          <h4 class="timeText">
            <%= t.created_at.strftime("%m/%d/%Y") %>
          </h4>
          <h4 class="timeText">
            <%= "Posted " + distance_of_time_in_words(t.created_at, Time.now) + " ago" %>
          </h4>
        </div>
        
      </div>

      <div class="chatBox">
        <h2 class="textMessage">
        <%= t.text.to_s %>
        </h2>
      </div>
</div>

  <% end %>
</div>
